:root{
    --background: hsl(207, 95%, 8%);
    --foreground: hsl(201, 83%, 81%);
    --muted: hsl(207, 12%, 15%);
    --muted-foreground: hsl(207, 12%, 65%);
    --popover: hsl(207, 95%, 5%);
    --popover-foreground: hsl(201, 83%, 91%);
    --card: hsl(207, 95%, 6%);
    --card-foreground: hsl(201, 83%, 86%);
    --border: hsl(207, 85%, 13%);
    --input: hsl(207, 85%, 16%);
    --primary: hsl(205, 85%, 78%);
    --primary-foreground: hsl(205, 85%, 18%);
    --secondary: hsl(205, 30%, 25%);
    --secondary-foreground: hsl(205, 30%, 85%);
    --accent: hsl(207, 95%, 23%);
    --accent-foreground: hsl(207, 95%, 83%);
    --destructive: hsl(10, 93%, 48%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(205, 85%, 78%);
}

body {
    background-color: var(--background);
    color : var(--foreground);
    font-family: 'Anek Malayalam', sans-serif;
    margin : 0;
    padding : 0;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.navbar {

    position: fixed;
    top : 10px;
    left : 50%;
    transform: translateX(-50%);
    width: 700px;
    max-width: 1200px; /* Limite la largeur maximale si nécessaire */
    background-color: var(--primary);
    color : var(--destructive-foreground);
    border-color: var(--border);

    display: flex;
    justify-content: space-between; /*Espace entre le logo et les liens.*/
    align-items: center;     /*Aligement vertical au centre*/
    padding: 10px 20px;

    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    backdrop-filter: blur(10px); /* Effet de flou */
    background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond avec transparence */
    z-index: 1000;
}

.navbar:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.15);       /* A revoir plus tard */
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar .nav-links {  /*Style pour les liens de navigation */
    list-style: none;     /*Pour retirer les points*/
    display : flex; /*Pour les aligner*/
    gap : 20px; /* Espace entre les liens */
}
.navbar .nav-links li a {
    color : white;
    text-decoration: none;      /*Enlever le surlignage des liens */
    padding : 10px;
    transition : color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.navbar .nav-links li a:hover {
    backdrop-filter: blur(10px); /* Effet de flou */
    background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond avec transparence */
    color: #48D3CE;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding : 20px;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width : 700px;
    margin-top: 80px;
}

.profile-info {
    max-width: 60%;
}

.profile-info p{
    font-size: 1.2em;
}

.profile h1{
    font-size: 2em;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 1.8em;
    color : var(--primary);
}

.profile .name {
    color : var(--primary-foreground);
}

.profile p {
    margin: 10px 0;
    
}

.more-btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    border : none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.more-btn:hover {
    background-color: var(--accent);
    color : var(--accent-foreground);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.social-links {
    display: flex;
    gap : 25px;
    margin-top: 10px;
}

.social-links img {
    display: block;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Les icones doivent être de base blanche */

}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center; /*Alignement vertical*/
    width: 36px;
    height: 36px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour l'effet de hover */
} 

.social-links a:hover {
    border-radius: 8px; /* Arrondir les coins du fond (optionnel) */
    transform: scale(1.1); 
    z-index: 1;
}

/* Couleur pour chaque icones */

.github:hover {
    background-color: #333 ;
}

.linkedin:hover {
    background-color: #0077B5;
}

.instagram:hover {
    background-color: #E1306C;
}

.email:hover {
    background-color: #FFC107;
}

.profile-image.mobile { 
    display: none;    
}
.profile-image {
    max-width: 35%;
}

.profile-image img  {
    border-radius: 6%;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.actions {
    display: flex;
    align-items: center;         /*Alignement vertical*/
    gap: 20px;      /* Espace entre le bouton et les icones.*/
    margin-top : 15px;
}

/* Media Queries  */

/* Version tablette */

@media (max-width: 768px) {
    .container { 
        display: flex;
        justify-content: center;
    }

    .navbar { 
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        width: 600px;
        max-width: 100%;
    }

    .navbar .logo {
        font-size: 1.3em;            /* Réduire la taille de la police du logo */
        margin-bottom: 10px;
    }

    .navbar .nav-links { 
        width: 100%;
        display: flex;
        justify-content: center;
        padding : 0;
        gap : 50px;
    }

    .navbar .nav-links li {
        margin: 0;
        padding: 0;
    }

    .navbar .nav-links li a {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .profile {
        width: 565px;
        max-width: 100%;
    }

    .profile-info{
        font-size: 0.9em;
    }
}  

/* Encore plus petit  */

@media (max-width:605px){
    .navbar {
        padding: 10px 0;
        width: 500px;
        max-width: 100%;
    }

    .navbar .nav-links { 
        gap : 40px;
    }
    .navbar .nav-links li a {
        padding: 10px;
    }

    .profile {
        width: 465px;
        max-width: 100%;
    }

    .profile-info{
        font-size: 0.8em;
    }
}

@media (max-width:492px) {
    .navbar {
        padding: 8px 0;
        width: 400px;
    }

    .navbar .nav-links { 
        gap : 30px;
    }
    .navbar .nav-links li a {
        padding: 8px;
    }

    .profile {
        width: 370px;
    }

    .profile-info{
        font-size: 0.9em;
    }
}

@media (max-width:375px) {
    .navbar {
        padding: 5px 0;
        width: 300px;
    }

    .navbar .nav-links { 
        gap : 10px;
    }
    .navbar .nav-links li a {
        padding: 8px;
    }

    .profile {
        /* width: 265px; */
        flex-direction: column;
        align-items: center;
        border-radius: 50px;
    }

    .profile-info{
        font-size: 0.75em;
        text-align: center;
    }

    .profile p {
        font-size: 1.25em;
    }

    .profile-image {
        display: none;
    }

    .profile-image.mobile {
        display : block;
        max-width: 120%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto; 
    }

    .actions { 
        align-self: flex-start;
        width: 100%;
        margin-top: 10px;
        display: flex;
        gap : 10px;
        margin-left: -50px;
    }
}

.projects {
    margin-top: 40px;
    padding : 20px;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width : 700px;
}

.projects h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary);
    text-align: center;
    margin-top: 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap : 20px;
}

.project-item {
    background-color: rgba(173, 216, 230, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item:hover {
    transform: translateY(-5px);
    color : var(--primary-foreground);  /*Je ne connais pas l'utilité */
    margin-bottom: 10px;
}

.project-item h2 {
    font-size: 1.5em;
    color: var(--primary-foreground);
    margin-bottom: 10px;
}

.project-item p {
    margin-bottom: 15px;
    color: var(--muted-foreground);
    flex-grow: 1; /* Le paragraphe prend tout l'espace disponible au besoin */
}

.project-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--primary-foreground);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    width : 17%;
}

.project-btn:hover {
    background-color: var(--accent);
    color : var(--accent-foreground);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-icon {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    vertical-align: middle;      /*Pour ajuster le h2 */
}

.project-icon2 {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    vertical-align: middle;   
    margin-top: 5px;
}

.project-icon3 {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;   
    margin-top: 5px;
}


.fun-projects { 
    margin-top: 40px;
    padding : 20px;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width : 700px;
}

.fun-projects h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary);
    text-align: center;
    margin-top: 0;
}

.Contacts{ 
    margin-top: 40px;
    padding : 20px;
    background-color: var(--card);
    color: var(--card-foreground);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width : 700px;
}
.Contacts h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary);
    text-align: center;
    margin-top: 0;
}




.fun-project-item {
    background-color: rgba(173, 216, 230, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fun-project-item:hover {
    transform: translateY(-5px);
    color : var(--primary-foreground);  /*Je ne connais pas l'utilité */
    margin-bottom: 10px;
}

.fun-project-item h2 {
    font-size: 1.5em;
    color: var(--primary-foreground);
    margin-bottom: 10px;
}

.fun-project-item p {
    margin-bottom: 15px;
    color: var(--muted-foreground);
    flex-grow: 1; /* Le paragraphe prend tout l'espace disponible au besoin */
}

/* Le modal à partir d'ici  */

.modal {
    display: none;  /* Masquée par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top : 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);   /*pour tout mettre en gris en arrière blanc*/
}

.modal-content { 
    position: relative;
    margin: auto;
    margin-top: 100px;
    padding : 20px;
    width: 50%;
    max-width: 700px;
    background-color: var(--card);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top : 10px;
    right: 20px;
    color : #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Le slider  */

.slider-container {
    position: relative;
    max-width: 100%;
}

.slide {
    display: none;
    text-align: center;
}

.slide img {
    width: 100%;
    max-height: 500px;
    object-fit : contain;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    padding : 15px;
    padding-top: 110px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
}

.prev {
    left : 10px;
}

.next {
    right : 10px;
}

.prev:hover, .next:hover {
    color: #ddd;
}

/* Contact me  */
.actions2 {
    display: flex;
    align-items: center;         /*Alignement vertical*/
    gap: 20px;      /* Espace entre le bouton et les icones.*/
    margin-top : 15px;
    justify-content: center;     /* Alignement horizontal au centre */
    margin-bottom: 20px;
}

.social-links2 {
    display: flex;
    gap : 25px;
    margin-top: 10px;
}

.social-links2 img {
    display: block;
    width: 38px;
    height: 38px;
    filter: brightness(0) invert(1); /* Les icones doivent être de base blanche */
}

.social-links2 a {
    display: flex;
    justify-content: center;
    align-items: center; /*Alignement vertical*/
    width: 56px;
    height: 56px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour l'effet de hover */
} 

.social-links2 a:hover {
    border-radius: 8px; /* Arrondir les coins du fond (optionnel) */
    transform: scale(1.1); 
    z-index: 1;
}